<%= form_for @search, html: { class: 'pure-form pure-form-stacked' } do |f| %>
  <div>
    <%= f.label :address, "Enter an address" %>
    <br />
    <%= f.text_field :address, placeholder: "350 5th Ave, New York, NY 10118", size: 40 %>
  </div>

  <br />

  <div>
    <%= f.label :category, "What kind of business is it?" %>
    <br />
    <%= f.select :category, options_for_select(@categories.collect { |category| [category[0].humanize, category[0]] }), {} %>
  </div>

  <br />

  <%= button_tag(type: 'submit', class: 'pure-button pure-button-primary') do %>
    Search
  <% end %>

<% end %>

<br />
<!--

<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>A Stacked Form</legend>

        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email">

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password">

        <label for="state">State</label>
        <select id="state">
            <option>AL</option>
            <option>CA</option>
            <option>IL</option>
        </select>

        <label for="remember" class="pure-checkbox">
            <input id="remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>
 -->
