<%= form_for @search, html: { class: 'pure-form pure-form-stacked' } do |f| %>
  <div>
    <%= f.label :address, "Enter an address" %>
    <br />
    <%= f.text_field :address, placeholder: "350 5th Ave, New York, NY 10118", size: 40 %>
  </div>

  <br />

  <div>
    <%= f.label :category, "What kind of business is it?" %>
    <br />
    <%= f.select :category, options_for_select(@categories.collect { |category| [category[0].humanize, category[0]] }), {} %>
  </div>

  <br />

  <%= button_tag(type: 'submit', class: 'pure-button pure-button-primary') do %>
    Search
  <% end %>

<% end %>
