<!DOCTYPE html>
<html>
<head>
  <title>Kitchenforce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<h4>Welcome <%= current_user.name %>! | <%= link_to 'Sign Out', signout_path, method: 'delete' %> <div><%= link_to 'Search', 'searches/new' %></div></h4>
<% else %>
  <h4><%= link_to 'Sign in with Salesforce', '/auth/salesforce' %> <div><%= link_to 'Search', 'searches/new' %></div></h4>
<% end %>

<%= yield %>

</body>
</html>
