<!DOCTYPE html>
<html>
<head>
  <title>Kitchenforce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<!--<![endif]-->


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <%= link_to "Kitchenforce", root_path, class: 'pure-menu-heading' %>
    <ul>
<% if current_user %>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Search Nearby Businesses", new_search_path %></li>
      <li><%= link_to 'Sign Out', signout_path, method: 'delete' %></li>
      <li>Welcome <%= current_user.name %>!</li>
<% else %>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to 'Sign in with Salesforce', '/auth/salesforce' %></li>
      <li><%= link_to "Search Nearby Businesses", new_search_path %></li>
<% end %>
    </ul>
</div><!-- end pure-menu -->

<div class="pure-g">
  <div class="container-padding pure-u-4-5">
    <%= yield %>
  </div>
</div>

</body>
</html>
